/**
 * @name Dracula style
 * @description A dracula style theme for BetterDiscord
 * @author Kirby
 * @version 1.2.1
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
	--accentcolor: 189,147,249; /* Purple */
	--accentcolor2: 255,121,198; /* Pink */
	--successcolor: 80,250,123; /* Green */
    	--warningcolor: 255,184,108; /* Orange */
    	--dangercolor: 255,85,85; /* Red */
	--linkcolor: var(--accentcolor);
	--mentioncolor: var(--accentcolor);
	--textbrightest: 248,248,242;
	--textbrighter: 207,207,207;
	--textbright: 223,224,226;
	--textdark: 155,156,163;
	--textdarker: 109,110,119;
	--textdarkest: 87,87,87;
	--font: Code New Roman;
	--backgroundaccent: 68,71,90;
	--backgroundprimary: 35,37,48;
	--backgroundsecondary: 40,42,54;
	--backgroundsecondaryalt: var(--backgroundprimary);
	--backgroundtertiary: var(--backgroundprimary);
	--backgroundfloating: var(--backgroundaccent);
	--settingsicons: 0;
}

/* Default color changes */
.theme-light:not(.custom-user-profile-theme), .theme-dark:not(.custom-user-profile-theme), .theme-amoled:not(.custom-user-profile-theme), .visual-refresh.theme-light:not(.custom-user-profile-theme), .visual-refresh.theme-dark:not(.custom-user-profile-theme), .visual-refresh.theme-amoled:not(.custom-user-profile-theme), .visual-refresh .theme-light:not(.custom-user-profile-theme), .visual-refresh .theme-dark:not(.custom-user-profile-theme), .visual-refresh .theme-amoled:not(.custom-user-profile-theme) {
	/* Buttons */
	--button-secondary-background: rgb(68,71,90);
	--button-secondary-background-hover: var(--background-modifier-hover);
	--button-secondary-background-active: var(--button-secondary-background);
	--button-secondary-background-disabled: var(--backgroundfloating);
	/* Scrollbars */
	--scrollbar-auto-thumb: var(--background-modifier-hover);
	--scrollbar-thin-thumb: var(--background-modifier-hover);
	--scrollbar-auto-scrollbar-color-thumb: var(--background-modifier-hover);
	/* Reply spine
	--spine-default: rgb(63,64,115);
	*/
}

/* Voice channel buttons */
.colorable_f1ceac.primaryDark_f1ceac {
	border: 1px solid hsl(234 calc(1*4.386%) 44.706% /.06);
}

/* Voice channel button hover */
.colorable_f1ceac.primaryDark_f1ceac.active_f1ceac:not(.disabled_f1ceac), .colorable_f1ceac.primaryDark_f1ceac:hover:not(.disabled_f1ceac) {
    	background: hsla(232, 14%, 31%, 0.6);
}

/* Voice channel button background */
.buttonSection__1405b {
	background-color: rgb(35,37,48);
	border: 1px solid hsl(234 calc(1*4.386%) 44.706% /.2);
}

/* Voice channel mute button */
.colorable_f1ceac.redGlow_f1ceac {
    	background-color: hsl(0 100% 66.67% / .1);
	border: 1px solid hsl(0 100% 66.67% / .03);
}

/* Voice channel mute button icon */
.colorable_f1ceac.redGlow_f1ceac, .colorable_f1ceac.redGlow_f1ceac .centerIcon_f1ceac {
    	color: rgb(255,85,85);
}

/* Channels */
.modeSelected__2ea32 .link__2ea32, .modeSelected__2ea32:hover .link__2ea32 {
    	background: var(--bg-overlay-selected, var(--background-modifier-hover));
}

/* Find or start conversation */
#app-mount .lookFilled__201d5.colorPrimary__201d5, #app-mount .lookFilled__201d5.colorPrimary__201d5:disabled {
    	background-color: var(--button-secondary-background-hover);
	border-color: rgba(0,0,0,.0);
    	color: rgb(248,248,242);
}

/* Find or start conversation hover */
#app-mount .lookFilled__201d5.colorPrimary__201d5:hover {
    	background-color: rgb(189,147,249);
	border-color: rgba(0,0,0,.0);
    	color: rgb(248,248,242);
}

/* Find or start conversation font size/weight */
.lookFilled__201d5 .contents__201d5, .lookLink__201d5 .contents__201d5, .lookOutlined__201d5 .contents__201d5 {
	font-size: 95%;
	font-weight: 550;
}

/* Message reply spine */
.repliedMessageClickableSpine_c19a55:hover {
    	border-color: rgb(189,147,249);
}

/* Link embed title */
.embedTitle__623de {
    	font-weight: 500;
}

/* Msg typing border */
.channelTextArea__74017:focus-within {
    	border-color: rgb(189,147,249);
}

/* Reaction bar */
.popoverReactionHoverBar_f84418 {
	background: rgb(35,37,48);
	border: 2px solid var(--border-faint);
}

/* @ Mention */
.wrapper_f61d60 {
	background: rgb(63,64,115);
	color: rgb(189,147,249);
	font-weight: 525;
}

/* Soundboard/sharescreen etc hover */
.visual-refresh .button_e131a9 .buttonColor_e131a9:hover, .visual-refresh .button_e131a9.buttonColor_e131a9:hover {
    	background-color: var(--button-secondary-background-hover);
}

/* Soundboard/sharescreen etc */
.visual-refresh .button_e131a9 .buttonColor_e131a9, .visual-refresh .button_e131a9.buttonColor_e131a9 {
	background-color: var(--backgroundsecondaryalt);
	border-color: var(--border-faint);
	color: var(--button-secondary-text);
}

/* Connected to channel icon */
.iconBadge__650eb.isCurrentUserConnected__650eb {
    	background-color: rgba(var(--successcolor), .7);
}

/* Mute/Deafen button */
button.button__67645.redGlow__67645, span.button__67645.redGlow__67645 {
    	background-color: hsl(0 100% 66.67% / .1);
}

/* Friends list tabs (online/all) */
.visual-refresh .side_b3f026 .themed_b3f026.selected_b3f026.item_b3f026, .visual-refresh .topPill_b3f026 .themed_b3f026.selected_b3f026.item_b3f026 {
    	background-color: var(--button-secondary-background);
}

/* Server members activity hover */
.selected__0f2e8, .selected__0f2e8:hover {
	background-color: var(--background-mod-normal);
}

/* Friends active now hover */
#app-mount .outer_bf1984.active_bf1984, #app-mount .outer_bf1984.interactive_bf1984:hover {
    	background-color: var(--button-secondary-background-hover);
}

/* Friend info boxes (mutual servers/member since) */
.overlay_c0bea0 {
    	background: rgb(40,42,54);
}

/* Friend list game status text */
.statusText__19b6d {
    	color: var(--textbright);
}

/* Remove discover icon */
.circleIconButton__5bc7e.discoveryIcon_ef3116 {
	display: none;
}

/* Remove nitro button */
[data-list-item-id*="__nitro"] {
	display: none;
}

/* Remove shop button */
[data-list-item-id*="__shop"] {
	display: none;
}
